@font-face {
  font-family: 'Figtree'; 
  src: url('./assets/fonts/static/Figtree-Medium.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree'; 
  src: url('./assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 800; 
  font-style: normal;
  font-display: swap;
}

body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Figtree', sans-serif;
}

.container {
    background-color: white;
    height: auto;
    width: 320px;
    padding: 25px;
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 10px 10px 0px hsl(0, 0%, 7%);
}

.illustration img {
    border-radius: 12px;
    max-width: 100%;    
    display: block;
}

.btn {
    margin-top: 25px;
}

.learning:hover {
    cursor: pointer;
}

.learning {
    background-color: hsl(47, 88%, 63%);
    border: none;
    color: black;
    border-radius: 4px;
    height: 30px;
    width: 88px;
    font-family: 'Figtree';
    font-weight: 800;
    font-size: 15px;
}

.title:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.title {
    color: hsl(0, 0%, 7%);
    transition: color 0.2s ease;
}

.content {
    color: hsl(0, 0%, 42%);
    font-weight: 500;
    line-height: 1.5;
}

.profile {
    display: flex;
    align-items: center;
    padding-top: 5px;
    gap: 14px;
    font-weight: 800;
}

.profile img {
    width: 35px;
}